.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #f1f1f1;
}

.img{background-color: lightblue
}

.img:hover {background-color: #ddd
}

body {
  background-color: lightblue;
}

h1 {
  color: SteelBlue;
  text-align: center;
}
h4 {
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
